<!DOCTYPE html>
<html>
<head>
  <title>Breaker-Breaker!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-linear">
        <a href="http://breakerbreaker321.herokuapp.com/"><img src="/bb_title.png" class="brand" alt="Breaker Breaker Logo" ></a>
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <li>Logged in as <strong><%= current_user.email %></strong> </li>
                <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
                <li><%= link_to "Send a message", new_message_path %> </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %> </li>
                <li><%= link_to "Login", new_user_session_path %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="span9">
          <br/>
          <div class="white_back">
            <%= flash[:notice] %>
            <h3><em> <%= flash[:alert] %> </em></h3>
          </div>
          <br/>
          <div class="white_back">
            <%= yield %>
          </div>
        </div>
        <div class="span3">
          <div class="white_back">
          <h4>How Does It Work?</h4>
            <p>Aesthetic Wes Anderson YOLO, try-hard cray mustache freegan cliche mlkshk. Lo-fi deep v tattooed Kickstarter farm-to-table church-key blog jean shorts, polaroid typewriter art party bespoke PBR Etsy. Freegan Shoreditch deep v, cornhole kogi forage listicle pour-over typewriter. Beard tousled DIY aesthetic banh mi pickled, Godard before they sold out Helvetica PBR&B mumblecore. Tousled twee trust fund Odd Future. </p>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a href="http://www.jasonvogelsberg.com/" target="_blank"><em>&#169; J. Vogelsberg 2014 </em></a>
    </footer>
  </div>
</body>
</html>
