<!DOCTYPE html>
<html>
<head>
  <title>Breaker-Breaker!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--   <link href="breakerbreaker_CSS_test_file.css" rel="stylesheet" type="text/css"/> -->
</head>
<body style="background-image: url('transceiver_1.png');">
<br><br>
<!--   <div class="container"> -->
    <div id="info-box">
<!--       <img id="bblogo" src="cbradio.jpg"> -->
      <center>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
           <%= link_to "Send a message", new_message_path %>
        <% else %>
          <br>
          <h4>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
          </h4>
        <% end %>
      </center>
      <br>
      <br>
      <%= flash[:notice] %>
      <h3><center><em> <%= flash[:alert] %> </em></center></h3>
      <%= yield %>
    </div>
  <!-- </div> -->
  <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
  <center><i> JCVogelsberg * 2014</i></center>
  <br><br>
</body>
</html>
