<!DOCTYPE html>
<html>
<head>
  <title>Textapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br><br>
  <div class="container">
    <div id="container">
      <div id="user_nav">
        <div class="row">
          <%= image_tag("cbradio.jpg", height: '50%', width: '50%', class: "img-responsive center-block") %>
        </div>
        <center>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
           <%= link_to "Send a message", new_message_path %>
        <% else %>
          <br>
          <h4>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
          </h4>
        <% end %>
      </center>
      </div>
      <br>
      <br>
      <%= flash[:notice] %>
      <h3><center><em> <%= flash[:alert] %> </em></center></h3>
      <%= yield %>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<center><i> J.C. Vogelsberg * 2014 </i></center>

</body>
</html>
